<ion-header>
  <ion-navbar>
    <ion-title>Avatar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-input type="text" placeholder="ethereum address" [(ngModel)]="ethereumAddress"></ion-input>
  </ion-item>
  <button ion-button full icon-left (click)="createAvatar()">
    <ion-icon name="person-add"></ion-icon>
    Create Avatar
  </button>

  <ion-card *ngIf="createdAvatar">
    <ion-item>
      <ion-avatar item-start>
        <img src="https://robohash.org/{{createdAvatar}}.png?set=set1">
      </ion-avatar>
      <h2>{{createdAvatar}}</h2>
      <p>Using Robohash Set 1</p>
    </ion-item>
    <img src="https://robohash.org/{{createdAvatar}}.png?set=set1">
  </ion-card>

  <ion-card *ngIf="createdAvatar">
    <ion-item>
      <ion-avatar item-start>
        <img src="https://robohash.org/{{createdAvatar}}.png?set=set2">
      </ion-avatar>
      <h2>{{createdAvatar}}</h2>
      <p>Using Robohash Set 2</p>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="createdAvatar">
    <ion-item>
      <ion-avatar item-start>
        <img src="https://robohash.org/{{createdAvatar}}.png?set=set3">
      </ion-avatar>
      <h2>{{createdAvatar}}</h2>
      <p>Using Robohash Set 3</p>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="createdAvatar">
    <ion-item>
      <ion-avatar item-start>
        <img src="https://robohash.org/{{createdAvatar}}.png?set=set4">
      </ion-avatar>
      <h2>{{createdAvatar}}</h2>
      <p>Using Robohash Set 4</p>
    </ion-item>
  </ion-card>
</ion-content>
